/* 基本结构 */
body {
  font-family: "Microsoft Yahei";
}
.container {
  padding-left: 0;
  padding-right: 0;
}
/* 用户登录 */
.myLogin {
  margin: 50px auto;
  padding: 0 10px;
  width: 500px;
  border: 1px solid #9acfba;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(204, 204, 204, 0.5);
}
.myLogin .title {
  margin-top: 10px;
  height: 55px;
  background-image: url("../images/icons/icon_lock.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #5cb85c;
  text-indent: 88px;
}
.myLogin .title h3 {
  margin-top: 15px;
}
.myLogin .title .register {
  margin-top: 20px;
}
.myLogin .form-control {
  border-color: #9acfba;
}
.myLogin button {
  margin-right: 10px;
}
